@import "./grid.scss";

//General
.contentWrapper {
  padding-top: 25px;
  overflow: auto;
}

//Header
header {
  overflow: hidden;
  background-color: #ffffff;
  padding: 15px 0;
  .logo-container{
    margin-left: 1%;
    margin-right: 3%;  
    h1 {
      color: #FC614C;
      margin-top: 0px;
      font-size: 25px;
      padding: 0;
      font-weight: normal;
    }
  }
  p{
    color: #FC614C;
  }
  .shopping-cart-container{
    text-align: right;
    a{
      color: #FC614C;
      &:hover{
        text-decoration: underline;
        color: rgb(252, 129, 113)
      }
    }
  }
}

//Navbar
nav {
  background-color: #ececec;
  margin: 0;
  -webkit-box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.18);
  -moz-box-shadow:    0px 5px 11px 0px rgba(50, 50, 50, 0.18);
  box-shadow:         0px 5px 11px 0px rgba(50, 50, 50, 0.18);
  ul {
    padding: 0;
    li {
      display: inline;
      padding: 0 18px 0 3px;
      margin: 0;
      span {
        color: #ffffff;
        font-size: 14px;
        cursor: pointer;
      }
      ul{
        display: none;
      }
    }
  }
  .active {
    text-decoration: underline;
    color: white;
  }
  .TabBar{
    margin: 0 8px ;
  }
}

//Filter
.filter{
  background: white;
  margin-right: 0;
  margin-left: 1%;
  padding-right: 2%;
  padding-left: 1%;
  min-height: 400px;
  h2{
    font-size: 17px;
  }
  input[type='text'] {
    width: 100%;
  }
  p{
    font-size: 15px;  
  }

}

//Footer
footer {
  background-color: #242122;
  height: 100px;
  padding: 60px 0 10px 0;
  p {
    color: #ffffff;
    font-size: 13px;
    text-align: center;
  }
}

//Shopping cart
.shopping-cart {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #6c6c6c;
  right: 0;
  min-height: 100%;
  width: 300px;
}

//Product-list
.product-list-container{
  margin: 0;
  width: 83.3%;
}
.product-detail{
  text-align: center;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
  padding: 20px 0;
  margin-bottom: 20px;
  background: #ffffff;
  img{
    max-height: 100px;
  }
  p{
    text-transform: capitalize
  }
  button{
    cursor: pointer;
    &:hover{
      background-color: #FC614C;
      color: #ffffff;
    }
  }
}